# Local system files
.DS_Store
Thumbs.db

# Local editor/project files
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Deployment archives should not be committed
*.zip

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
